<template name="main">

<div class="dashboard">
		
		{{#with pullRequest}}
			{{> metrobox}}
		{{/with}}
		{{#with totalStoryPoints}}
			{{> metrobox}}
		{{/with}}
		{{#with currentSprintsStoryPoints}}
			{{> metrobox}}
		{{/with}}
		{{#with lastBugIssued}}
			{{> metrobox}}
		{{/with}}

		
		{{#with lastBugCompleted}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
		{{> largeMetrobox}}
		{{/with}}

		{{#with data}}
		{{> twoStackWideMetrobox}}
		{{/with}}

		{{#with data}}
		{{> largeMetrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}

		 
		{{#with data}}
			{{> metrobox}}
		{{/with}}
		{{#with data}}
			{{> metrobox}}
		{{/with}}
	</div>
</template>
